
<router-outlet></router-outlet>
<h1>About page</h1>

<div>
    <img src="/assets/about.jpg" width="1700" height="500" />
</div>

<div>
    <h1>Employment</h1>
    Employment is the relationship between two parties,
    usually based on a contract where work is paid for, where one party, which may be a corporation,
    for profit, not-for-profit organization, co-operative or other entity is the employer and the other
    is the employee.[1] Employees work in return for payment, which may be in the form of an hourly wage,
    by piecework or an annual salary, depending on the type of work an employee does or which sector they
    are working in. Employees in some fields or sectors may receive gratuities, bonus payment or stock
</div>
<p> options. In some types of employment, employees may receive benefits in addition to payment. Benefits
    can include health insurance, housing, disability insurance or use of a gym. Employment is typically
    governed by employment laws, organisation or legal contracts.</p>

   <h1>Training and development</h1> 
<div>
    Wiki-training with employees of Regional Institute of Culture in Katowice 02
Training and development refers to the employer's effort to equip a newly hired employee with the 
necessary skills to perform at the job, and to help the employee grow within the organization.
 An appropriate level of training and development helps to improve employee's job satisfaction.[8]

</div>
